{{!< dashboard}} 
<link rel="stylesheet" href="/css/admin/programs.css" />

<style>
  /* Additional styles specific to the Programs section */
  .programs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }

  .program-card {
    position: relative;
    border: 2px solid rgba(46, 90, 146, 0.3);
    background-color: #f7f7f7;
    padding:
      15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width:
      200px;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content:
      center;
  }

  .delete {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    border: none;
  }

  .delete svg {
    width: 20px;
  }

  .program-card:hover .delete {
    display: flex;
  }

  .program-card p {
    color: gray;
    font-weight: 500;
    margin: 0
  }

  .program-card h3 {
    color: #2E5A92;
  }

  .add-button {
    background-color: #2E5A92;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor:
      pointer;
    margin-left: 20px;
  }

  .add-button:hover {
    background-color: #2E5ABB;
  }
</style>

<style>
  /* Styles for the overlay */
    .overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      justify-content: center;
      align-items: center;
      z-index: 999999;
    }

    /* Styles for the modal */
    .modal {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      max-width: 400px;
      height: 240px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      display: flex;
      flex-direction: column;
      align-items: center; /* Center the content */
      text-align: center;
    }

    /* Styles for the modal title */
    .modal h2 {
      margin-top: 0;
    }

    /* Styles for the modal footer */
    .deleteProgramFooter {
      margin-top: 20px;
      text-align: right;
    }

    /* Styles for the modal buttons */
    .deleteProgramFooter button,.deleteProgramFooter .deleteProgram {
      padding: 10px 20px;
      margin-left: 10px;
      cursor: pointer;
      border: none;
      border-radius: 10px;
    }
    .deleteProgramFooter .deleteProgram{
      background-color: red;
      color: white;
    }
</style>

<div class="content">
  <button class="add-button"><a style="color:white; text-decoration:none" href="/admin/program/create">
      Add Program</a></button>

  <div class="programs-container">
    {{#each programs}}
    <div class="program-card">
      <button type="button" onclick="openModal('modal-{{this.ProgramID}}')" class="delete" data-target="#modal-{{this.ProgramID}}">
        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0,0,256,256">
          <g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
            stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none"
            font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
            <g transform="scale(8.53333,8.53333)">
              <path
                d="M14.98438,2.48633c-0.55152,0.00862 -0.99193,0.46214 -0.98437,1.01367v0.5h-5.5c-0.26757,-0.00363 -0.52543,0.10012 -0.71593,0.28805c-0.1905,0.18793 -0.29774,0.44436 -0.29774,0.71195h-1.48633c-0.36064,-0.0051 -0.69608,0.18438 -0.87789,0.49587c-0.18181,0.3115 -0.18181,0.69676 0,1.00825c0.18181,0.3115 0.51725,0.50097 0.87789,0.49587h18c0.36064,0.0051 0.69608,-0.18438 0.87789,-0.49587c0.18181,-0.3115 0.18181,-0.69676 0,-1.00825c-0.18181,-0.3115 -0.51725,-0.50097 -0.87789,-0.49587h-1.48633c0,-0.26759 -0.10724,-0.52403 -0.29774,-0.71195c-0.1905,-0.18793 -0.44836,-0.29168 -0.71593,-0.28805h-5.5v-0.5c0.0037,-0.2703 -0.10218,-0.53059 -0.29351,-0.72155c-0.19133,-0.19097 -0.45182,-0.29634 -0.72212,-0.29212zM6,9l1.79297,15.23438c0.118,1.007 0.97037,1.76563 1.98438,1.76563h10.44531c1.014,0 1.86538,-0.75862 1.98438,-1.76562l1.79297,-15.23437z">
              </path>
            </g>
          </g>
        </svg>
      </button>
      <a href="/admin/programs/{{this.ProgramID}}" style="text-decoration: none;">
        <h3>{{this.Name}}</h3>
        <p>ID: {{this.ProgramID}}</p>
        <p>Donor: {{this.thirdparty.Name}}</p>
      </a>
    </div>
    <!-- The Modal -->
    <div class="overlay" id="modal-{{this.ProgramID}}">
      <div class="modal">
        <h2>Are You Sure?</h2>
        <p>You are deleting  the program "{{this.Name}}". This action cannot be undone.</p>
        <div class="deleteProgramFooter">
          <button class="deleteProgram" onclick="deleteAction('modal-{{this.ProgramID}}')">Delete</button>
          <button onclick="closeModal('modal-{{this.ProgramID}}')">Cancel</button>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
   
</div>


<script defer src="/js/admin/programs.js"></script>