<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trainer Dashboard</title>
    <style>
      body { font-family: 'Poppins', sans-serif; background-color: #fff; color:
      #000; margin: 0; padding: 0; } header { background-color: #2e5a92; color:
      #fff; padding: 20px; display: flex; justify-content: space-between;
      align-items: center; } header h1 { margin: 0; } .container { display:
      flex; } .sidebar { background-color: #2e5a92; width: 20%; height: 100vh;
      display: flex; flex-direction: column; padding: 20px; } .sidebar a {
      color: white; text-decoration: none; margin-bottom: 10px; } .main-content
      { display: flex; justify-content: center; width: 100%; } table { width:
      80%; margin: 50px; table-layout: fixed; border-collapse: collapse; } th,
      td { padding: 15px; text-align: left; font-size: 16px; } th {
      background-color: #2e5a92; color: #fff; } table, th, td { width: 1fr;
      text-align: center; } table tbody tr { background-color: white; } table
      tbody tr:nth-child(odd) { background-color: #f2f2f2; } table thead th {
      border: none; } .grade-input { width: 80px; padding: 5px; font-size: 16px;
      } .download-btn { background-color: #2e5a92; color: white; border: 1px
      solid white; border-radius: 4px; cursor: pointer; } .download-btn:hover {
      background-color: white; color: #2e5a92; } .add-button { padding: 10px
      15px; border: none; border-radius: 5px; cursor: pointer; margin-left:
      100px; /* Add margin-left for space from the left */ }

    </style>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <h1>Trainer Dashboard</h1>
      <button
        onclick="localStorage.removeItem('user'); location.href='/'"
        class="btn btn-secondary"
      >Logout</button>
    </header>

    <button
      class="add-button"
      data-bs-toggle="modal"
      data-bs-target="#addProgram"
    >Add Assignment</button>
    <div class="main-content">
      <table>
        <thead>
          <tr>
            <th>Student</th>
            <th>Assignment</th>
            <th>Submission Date</th>
            <th>File</th>
            <th>Grade</th>
          </tr>
        </thead>
        <tbody>
          {{#each assignments}}
            <tr>
              <td>{{this.ParticipantID}}</td>
              <td>{{this.Title}}</td>
              <td>{{this.createdAt}}</td>
              <td><a
                  class="download-btn"
                  download="true"
                  href="{{this.FilePath}}"
                >Download</a></td>
              <td>
                <form
                  method="post"
                  action="/{{this.SessionID}}/assignment/mark"
                >
                  <input
                    type="number"
                    class="grade-input"
                    min="0"
                    max="10"
                    step="1"
                    name="Grade"
                    value="{{this.Grade}}"
                    placeholder="0-10"
                  />
                  <input
                    type="hidden"
                    value="{{this.AssignmentID}}"
                    name="assignmentID"
                  />
                </form>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <div
      class="modal fade"
      id="addProgram"
      tabindex="-1"
      aria-labelledby="addProgram"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Assignment</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form
              action="/{{session.SessionID}}/assignment/create"
              method="post"
              class="row g-3 needs-validation"
              novalidate
            >
              {{! title }}
              <div class="col-12">
                <label for="validationCustom03" class="form-label">Title</label>
                <input
                  type="text"
                  name="Title"
                  class="form-control"
                  id="validationCustom03"
                  required
                />
                <div class="invalid-feedback">
                  Please provide a valid Crieteria.
                </div>
              </div>
              {{! deadline }}
              <div class="col-12">
                <label
                  for="validationCustom03"
                  class="form-label"
                >Deadline</label>
                <input
                  type="date"
                  name="Deadline"
                  class="form-control"
                  id="validationCustom03"
                  required
                />
                <div class="invalid-feedback">
                  Please provide a valid Requirements.
                </div>
              </div>

              <div class="col-12">
                <button class="btn btn-primary" type="submit">Submit form</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body></html>